@import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./assets/scss/app.scss";
p.gridBtn {
    cursor: pointer;
}
.select-label {
    margin-top: -25px !important;
    margin-left: -10px !important;
    z-index: 99999 !important;
    opacity: 1 !important;
}

p.headingTag{
    font-size: 22px;
    background: #414561;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: bold;
}
.card.shadowCard{
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1) !important;
}
span.cashup-heading-text {
    font-size: 16px;
    font-weight: bold;
    float: left;
}
span.cashup-text {
    margin-left: 20px;
}